<ion-view view-title="Datos del servicio">
	<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
     </ion-nav-buttons>
  <ion-content>
    


  </ion-content>

  <!-- footer bar -->
   <div class="tabs tabs-positive tabs-icon-top">
	  <a class="tab-item" ng-click="back()">
	    <i class="icon fa fa-angle-left fa-2x"></i>
	    Anterior
	  </a>
	  <a class="tab-item" ng-click="save()">
	    <i class="icon fa fa-floppy-o "></i>
	    Guardar
	  </a>
	  <a class="tab-item" ng-click="skip()">
	    <i class="icon fa fa-angle-double-right fa-2x"></i>
	    Saltar
	  </a>
	  <a class="tab-item" ng-click="next()">
	    <i class="icon fa fa-angle-right fa-2x"></i>
	    Siguiente
	  </a>
	</div>
</ion-view>