<ion-view view-title="Datos del servicio">
	<ion-nav-buttons side="right">
	    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
  <ion-content class="has-header">

   <ion-list>
    <!-- fecha -->
  		<label class="item item-input">
		    <span class="input-label gray-text">Fecha:</span>
		    <input type="date" class="gray-text-input" ng-model="data.fecha">
	  	</label>

	<!--  codigo ambulancia -->
      	<label class="item item-input">
		    <span class="input-label gray-text">Código Ambulancia:</span>
		    <input type="text" class="gray-text-input" ng-model="data.codigo">
	  	</label>

	
    <!--  Direccion de la asistencia -->
      	<label class="item item-input item-stacked-label">
		    <span class="input-label gray-text">Dirección de asistencia:</span>
		    <input type="text" class="gray-text-input" ng-model="data.direccion">
	  	</label>

	<!-- cronologia -->
	  	<div>
          <ion-item ng-click="toggleGroup(1)"
                    ng-class="{active: isGroupShown(1)}">
              <i class="icon  gray-text" ng-class="isGroupShown(1) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            <span class="gray-text">Cronología</span>
          </ion-item>
          <div class="item-accordion" ng-show="isGroupShown(1)">
			<div class="row">
				<div class="col col-50">
					<label class="sub-line item-input">
					    <span class="input-label gray-text">E:</span>
					    <input type="time" class="gray-text-input" ng-model="data.e">
					 </label>
					<label class="sub-line item-input">
					    <span class="input-label gray-text">EL:</span>
					    <input type="time" class="gray-text-input" ng-model="data.el">
					</label>
					<label class="sub-line item-input">
					    <span class="input-label gray-text">EA:</span>
					    <input type="time" class="gray-text-input" ng-model="data.ea">
					</label>
					<label class="sub-line item-input">
					    <span class="input-label gray-text">EC:</span>
					    <input type="time" class="gray-text-input" ng-model="data.ec">
					</label>
				</div>
				<div class="col col-50">
					<label class="sub-line item-input">
					    <span class="input-label gray-text">EE:</span>
					    <input type="time" class="gray-text-input" ng-model="data.ee">
					</label>
					<label class="sub-line item-input">
					    <span class="input-label gray-text">ED:</span>
					    <input type="time" class="gray-text-input" ng-model="data.ed">
					</label>
					<label class="sub-line item-input">
					    <span class="input-label gray-text">D:</span>
					    <input type="time" class="gray-text-input" ng-model="data.d">
					</label>
				</div>
			</div>
          </div>
        </div>
    <!-- Motivo atencion -->
		<div>
          	<ion-item ng-click="toggleGroup(2)"
                    ng-class="{active: isGroupShown(2)}">
	            <i class="icon  gray-text" ng-class="isGroupShown(2) ? 'ion-minus' : 'ion-plus'"></i>
	            &nbsp;
	            <span class="gray-text">Motivo Atención</span>
          	</ion-item>
          	<div class="item-accordion" ng-show="isGroupShown(2)">
				<ion-item>
					<ion-checkbox class="sub-line checkbox-stable gray-text-input" ng-model="data.isMed">Médico</ion-checkbox>
					<ion-checkbox class="sub-line checkbox-stable gray-text-input" ng-model="data.isQui">Quirúrgica</ion-checkbox>
					<ion-checkbox class="sub-line checkbox-stable gray-text-input" ng-model="data.isGin">Ginecoobstétrica</ion-checkbox>
				</ion-item>
		  	</div>
        </div>
	<!-- Lugar ocurrencia -->
		<div>
          	<ion-item ng-click="toggleGroup(3)"
                    ng-class="{active: isGroupShown(3)}">
	            <i class="icon  gray-text" ng-class="isGroupShown(3) ? 'ion-minus' : 'ion-plus'"></i>
	            &nbsp;
	            <span class="gray-text">Lugar de ocurrencia</span>
          	</ion-item>
          	<div class="item-accordion" ng-show="isGroupShown(3)">
				<ion-item>
					<ion-checkbox class="sub-line checkbox-stable gray-text-input" ng-model="data.isHog">Hogar</ion-checkbox>
					<ion-checkbox class="sub-line checkbox-stable gray-text-input" ng-model="data.isPub">Via pública</ion-checkbox>
					<ion-checkbox class="sub-line checkbox-stable gray-text-input" ng-model="data.isTra">Trabajo</ion-checkbox>
					<ion-checkbox class="sub-line checkbox-stable gray-text-input" ng-model="data.isEdu">Educativo</ion-checkbox>
					<ion-checkbox class="sub-line checkbox-stable gray-text-input" ng-model="data.isDep">Deporte / Recreativo</ion-checkbox>
				</ion-item>
		  	</div>
        </div>
   </ion-list>
  </ion-content>

  <!-- footer bar -->
   <div class="tabs tabs-positive tabs-icon-top">
	  <a class="tab-item" ng-click="home()">
	    <i class="icon fa fa-home fa-2x"></i>
	    Inicio
	  </a>
	  <a class="tab-item" ng-click="save()">
	    <i class="icon fa fa-floppy-o "></i>
	    Guardar
	  </a>
	  <a class="tab-item" ng-click="skip()">
	    <i class="icon fa fa-angle-double-right fa-2x"></i>
	    Saltar
	  </a>
	  <a class="tab-item" ng-click="next()">
	    <i class="icon fa fa-angle-right fa-2x"></i>
	    Siguiente
	  </a>
	</div>
</ion-view>