<ion-view view-title="Formularios">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="form in forms" href="#/app/form/{{form.id}}" class="item-text-wrap">
        	<div class="list-element">{{form.title}}</div>
        	<div class="next-icon gray-text"><i class="icon ion-chevron-right"></i></div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
