<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear">
      <i class="icon ion-ios7-arrow-back"></i> Atras</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="right">
    <header class="bar bar-header bar-stable "> 
      <h1 class="title white">Opciones</h1>
    </header>
    <ion-content class="has-header">
      <ion-list >
        <ion-item nav-clear menu-close href="#/app/menu" class="gray-text">
          <span class="menu-icon gray-text">
            <span class="fa-stack fa-1x stable-text">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-home fa-stack-1x fa-inverse"></i>
            </span>
            Inicio
          </span>
        </ion-item>
        <ion-item nav-clear menu-close class="gray-text">
          <span class="menu-icon gray-text">
            <span class="fa-stack fa-1x stable-text">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
            </span>
            Pendientes de enviar
          </span>
        </ion-item>
        <ion-item nav-clear menu-close class="gray-text">
          <span class="menu-icon gray-text">
            <span class="fa-stack fa-1x stable-text">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-wifi fa-stack-1x fa-inverse"></i>
            </span>
            Probar conexión
          </span>
        </ion-item>
        <ion-item nav-clear menu-close class="gray-text">
          <span class="menu-icon gray-text">
            <span class="fa-stack fa-1x stable-text">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-users fa-stack-1x fa-inverse"></i>
            </span>
            Acerca de
          </span>
        </ion-item>
        <ion-item nav-clear menu-close class="gray-text" ng-click="recordVoice()">
          <span class="menu-icon gray-text">
            <span class="fa-stack fa-1x" style="color: #DE4815">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
            </span>
            Grabar nota de voz
          </span>          
        </ion-item>
        <ion-item nav-clear menu-close class="gray-text">
          <span class="menu-icon gray-text">
            <span class="fa-stack fa-1x" style="color: #DE4815">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-play fa-stack-1x fa-inverse"></i>
            </span>
            Escuchar nota de voz
          </span>        
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
