<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.geekoders.minsal" version="0.0.9" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Registro Prehospitalario</name>
  <description>
        An geekoders devtem project.
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
      Geekoders Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="orientation"     value="portrait" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="5000" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>

</widget>