/* Empty. Add your own CSS if you like */
body{
	background-color: #ECEFF1;
}

.white{
	color: white !important;
}

.next-icon{
	text-align:right; 
	vertical-align:middle;
	float: right;
	display: inline;
	margin-right: -30px;	
}

.menu-icon{
	text-align:left; 
	vertical-align:middle;
	float: left;
	display: inline;
	margin-left: 0.5em;	
	margin-right: 1em;
}

.list-element{
	display: inline;
	color: #5A676E;
}


.gray-text{
	color: #5A676E !important;
}

.stable-text{
	color: #80CBC4 !important;
}

.gray-text-input{
	color: #7F8B8F !important;
}



/* ******* acordion ******* */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.sub-line{
	border: 0px solid transparent !important;
	border-bottom: 1px solid #DDDDDD !important;
	margin-bottom: 5px;
}

.title{
	text-align: center !important;
}

.checkbox-stable input:before, .checkbox-stable .checkbox-icon:before {
  border-color: #4DB6AC !important; }
.checkbox-stable input:checked:before, .checkbox-stable input:checked + .checkbox-icon:before {
  background: #4DB6AC !important;
  border-color: #4DB6AC !important; }