/* Empty. Add your own CSS if you like */
body{
	background-color: #ECEFF1;
}

.white{
	color: white !important;
}

.next-icon{
	text-align:right; 
	vertical-align:middle;
	float: right;
	display: inline;
	margin-right: -30px;	
}

.list-element{
	display: inline;
	color: #5A676E;
}


.gray-text{
	color: #5A676E !important;
}

/* ******* acordion ******* */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.sub-line{
	border: 0px solid transparent !important;
	border-bottom: 1px solid #DDDDDD !important;
	margin-bottom: 5px;
}



